@font-face {
  font-family: "Existence";
  src: url("/fonts/Existence-Light.ttf");
}

body {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  height: 100%;
}

header {
  background-color: grey;
  border-bottom-style: inset;
}

header ul a {
  text-transform: uppercase;
  font-family: "Existence";
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 20px #3a3a3a91;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  transition-duration: 0.1s;
  font-size: 1.5vw;
  max-font-size: 23px;
}

#header-top a {
  text-transform: uppercase;
  font-family: "Existence";
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 20px #3a3a3a91;
  text-decoration: none;
  display: block;
  transition-duration: 0.1s;
  font-size: 1.2vw;
  max-font-size: 17px;
  padding-right: 15px;
}

.cart-img {
  position: relative;
  float: right;
  right: 27px;
  top: -90px;
  height: 60px;
  transition-duration: 0.3s;
}

.cart-img:hover {
  transform: scale(1.1);
}

footer {
  background-color: grey;
  bottom: 0;
  color: white;
  font-family: "Existence";
  height: 30px;
  left: 0;
  opacity: 0.5;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer p {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -16px;
}

#header-top {
  height: 40px;
  line-height: 40px;
}

.login-out-div {
  position: relative;
  top: 10px;
  height: inherit;
  display: inline-flex;
  float: right;
}

.logo-div {
  height: inherit;
  float: left;
  position: relative;
  padding: 10px;
}

.logo {
  height: 100px;
  transition-duration: 0.3s;
}

.logo:hover {
  transform: scale(1.05);
}

main {
  width: 100%;
}

.navigation {
  box-sizing: border-box;
  height: 60px;
  line-height: 60px;
  width: 100%;
}

.nav-div {
  width: 90%;
  margin: auto;
}

.navigation ul {
  text-align: center;
}

.navigation ul li {
  display: inline-block;
}

header ul a:hover,
#header-top a:hover {
  text-shadow: black;
  color: #B2D142;
  cursor: pointer;
}

.nav {
  height: 17%;
}