@font-face {
  font-family: "Existence";
  src: url("/fonts/Existence-Light.ttf");
}

body {
  background-color: ##f4f7f8;
}
svg {
  position: absolute;
  top: 40%;
  left: 30%;
  margin-top: -280px;
  margin-left: -400px;
  max-height: 280px;
  width: auto;
}
.image {
position: absolute;
  height: auto;
  width: 40%;
  top: 8%;
  left: 10%;
  margin-top: -2vv;
  margin-left: -2vv;
  max-height: 40vv;
}
.message-box {
  height: 300px;
  width: 480px;
  position: absolute;
  top: 50%;
  left: 65%;
  margin-top: -100px;
  margin-left: 50px;
  color: #47476b;
  font-weight: bold;
}
.message-box h1 {
  font-size: 100px;
  line-height: 46px;
  margin-bottom: 40px;
  font-family: "Existence";
}
.message-box p{
  font-size: 65px;
  line-height: 46px;
  margin-bottom: 40px;
  font-family: "Existence";
}
.message-box2 {
  height: auto;
  width: 50%;
  position: absolute;
  top: 30%;
  left: 45%;
  margin-top: -10vv;
  margin-left: 5vv;
  color: #d87d0f;
  font-weight: bold;
}
.message-box2 h1 {
  font-size: 100px;
  line-height: 46px;
  margin-bottom: 40px;
   font-family: "Existence";
   }
.message-box2 p{
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 40px;
   font-family: "Existence";
}
.buttons-con .action-link-wrap {
  margin-top: 40px;
}

.buttons-con .action-link-wrap a {
  background: #47476b;
  padding: 8px 25px;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
   font-family: "Existence";
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px
}
.buttons-con .action-link-wrap a:hover {
  background: #7a7ea3;
  color: #fff;
}
.buttons-con2 .action-link-wrap a {
  background: #d87d0f;
  padding: 8px 25px;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  font-family: "Existence";
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px
}
.buttons-con2 .action-link-wrap a:hover {
  background: #FFA500;
  color: #fff;
}

@media (max-width: 450px) {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}
footer {
  background-color: grey;
  bottom: 0;
  color: white;
  font-family: "Existence";
  height: 30px;
  left: 0;
  opacity: 0.5;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer p {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -16px;
}