@font-face {
    font-family: "Existence";
    src: url("/fonts/Existence-Light.ttf");
}

.administration-table {
    background-color: #f4f7f8;
    border-radius: 8px;
    box-sizing: border-box;
    float: left;
    font-family: "Existence";
    font-weight: bold;
    width: 100%;
    margin: auto;
    padding: 10px 10px 0px 10px;
    position: relative;
}

.administration-table h1 {
    font-size: 2vw;
}

.administration-table tr td {
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 13.5%;
    background: #e8eeef;
    border: none;
    border-radius: 4px;
}

.wider-th {
    width: 28%;
}

.administration-table tr td button {
    position: relative;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	color: #FFF;
	margin: 0 5px 0 5px;
	background: #1abc9c;
	font-family: "Existence";
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	font-style: normal;
	width: 40%;
	border: 1px solid #16a085;
	border-radius: 4px;
	border-width: 1px 1px 3px;
	margin-bottom: 5px;
}

.administration-table tr td button:hover {
	background: #109177;
}

.alert-success {
    color: green;
}

.alert-danger {
    color: red;
}

.button {
    background-color: #e7e7e7;
    border: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Existence";
    font-size: 2vw;
    font-weight: bold;
    margin: 4px 2px;
    opacity: 0.6;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    border: 1px solid #ccc;
    color: black;
}

.cart-img {
    height: 30px;
    width: 30px;
}

footer {
  background-color: grey;
  bottom: 0;
  color: white;
  font-family: "Existence";
  font-size: 1vw;
  height: 30px;
  left: 0;
  opacity: 0.5;
  position: fixed;
  text-align: center;
  width: 100%;
}

.input-form {
    background-color: #f4f7f8;
    border-radius: 8px;
    box-sizing: border-box;
    float: left;
    font-family: "Existence";
    font-weight: bold;
    left: 30vw;
	max-width: 500px;
	margin: auto;
	padding: 10px 10px 0px 10px;
	position: relative;
}

.input-form form {
	border: none;
}

.input-form h1 {
	font-size: 2vw;
	margin-bottom: 10px;
	text-align: center;
}

.input-form input {
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	color:#8a97a0;
	font-family: "Existence";
    font-weight: bold;
	font-size: 1.5vw;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 10px;
}

.input-form input:focus {
	background: #d2d9dd;
}

.input-form input[type="submit"] {
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

.input-form input[type="submit"]:hover {
	background: #109177;
}

#header-top {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    float: right;
    height: 60px;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

#header-top a {
    display: inline-block;
    padding: 5px 5px;
    font-family: "Existence";
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px rgba(255, 255, 255);
    font-size: auto;
    max-font-size: 3vw;
    min-font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

#header-top span {
    font-family: "Existence";
    font-size: auto;
    max-font-size: 3vw;
    min-font-size: 2vw;
    font-weight: bold;
}

.logo {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    height: 100%;
    weight: 100%;
}

.logo-div {
  display: inline-block;
  float: left;
  width: 10vw;
  height: 6vw;
  padding: 5px;
}

.name {
    float: left;
    font-family: "Existence";
    font-size: auto;
    max-font-size: 3vw;
    min-font-size: 2vw;
    font-weight: bold;
    margin: 1vw;
}

.navigation {
  display: block;
  box-sizing: border-box;
  float: left;
  max-width: 900px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 20px 0;
}

.nav-div {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 10vw;
  width: 600px;
}

.navigation ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  padding: 20px;
  font-family: "Existence";
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: auto;
  max-font-size: 5vw;
  min-font-size: 3vw;
  font-weight: bold;
  text-decoration: none;
  display: block;
}

.navigation ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}

.page-number a {
    color: black;
    text-decoration: none;
    font-family: "Existence";
    font-size: auto;
    max-font-size: 3vw;
    min-font-size: 2vw;
    position: relative;
}

.page-number {
    bottom: 25px;
    display: block;
    height: 30px;
    position: fixed;
    right: 1.5vw;
}

.page-number a.active {
    transition: background-color .3s;
}

.page-number a:hover:not(.active) {
    background-color: #ddd;
}

.picture {
    max-width: 100%;
}

.product-image {
    height: auto;
    width: auto;
    max-width: 100%;
}

.product-to-basket-message {
    float: left;
    font-family: "Existence";
    font-size: auto;
    font-weight: bold;
    height: 1.5vw;
    min-font-size: 1.5vw;
    padding: 0 0 1vw 12vw;
}

.product-div {
    display: block;
    width: 100%;
    margin: auto;
    padding: 10px 10px;
}

.product-image-div {
    margin-left: 52%;
    width: 45%;
}

.product-info-div {
    box-sizing: border-box;
    float: left;
    font-family: "Existence";
    font-size: auto;
    font-weight: bold;
    max-font-size: 3vw;
    min-font-size: 2vw;
    padding: 0 0 0 10vw;
    width: 45%;
}

.price {
    float: right;
    font-family: "Existence";
    font-size: auto;
    max-font-size: 3vw;
    min-font-size: 2vw;
    font-weight: bold;
    margin: 1vw;
}

.products {
    display: block;
    float: center;
    position: relative;
    width: 100%;
}

.product {
    border: 1px solid #ccc;
    float: left;
    padding: 20px 0 0 15px;
    text-align: center;
    width: 30%;
    margin: 5px;
}

.product:hover {
    border: 1px solid #777;
}

#product_table {
    width: 100%;
}

