.administration-table {
    background-color: #f4f7f8;
    border-radius: 8px;
    box-sizing: border-box;
    float: left;
    font-family: "Existence";
    font-weight: bold;
    width: 100%;
    margin: auto;
    padding: 10px 10px 0px 10px;
    position: relative;
}

.administration-table h1 {
    font-size: 2vw;
}

.administration-table tr td {
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 13.5%;
    background: #e8eeef;
    border: none;
    border-radius: 4px;
}

.wider-th {
    width: 28%;
}

#address-information-form {
    background-color: #f4f7f8;
    border-radius: 8px;
    box-sizing: border-box;
    float: left;
    font-family: "Existence";
    font-weight: bold;
    padding: 10px 10px 10px 0px;
}

.basket-option-button,
.administration-table tr td button {
    position: relative;
    display: inline-block;
    padding: 1vw 1vw;
    color: #FFF;
    margin: 0 1vw;
    background: #00654F;
    font-family: "Existence";
    max-font-size: 13px;
    font-size: 1.3vw;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    max-width: 220px;
    width: 50%;
    border: 1px solid #00654F;
    border-radius: 4px;
}

.basket-option-button:hover,
.administration-table tr td button:hover {
    background: #B2D142;
    border: 1px solid #B2D142;
    color: black;
}

.alert-success {
    color: green;
    font-family: "Existence";
    font-size: 1.3vw;
    font-weight: bold;
}

.alert-danger {
    color: red;
    font-family: "Existence";
    font-size: 1.3vw;
    font-weight: bold;
}

.button {
    background-color: #e7e7e7;
    border: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Existence";
    font-size: 1.5vw;
    font-weight: bold;
    margin: 2px 1px;
    opacity: 0.6;
    padding: 1vw 1.5vw;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.basket-option-button a {
    text-decoration: none;
    color: ivory;
}

.button a {
    text-decoration: none;
    color: black;
}

.button:hover {
    background-color: #B2D142;
    outline: 1px solid #ccc;
    color: black;
}

.chart-container {
    width: 100%;
    min-width: 300px;
    height: 100%;
    min-height: 300px;
}

.my-chart-part {
    box-sizing: border-box;
    float: left;
    font-family: "Existence";
    font-size: auto;
    font-weight: bold;
    max-height: 300px;
    max-font-size: 2vw;
    min-font-size: 1vw;
    padding: 0 0 0 1vw;
    width: 30%;
}

.my-chart {
    display: block;
    width: 100%;
    heigth: auto;
    /*max-width: 600px;
    height: 300px;*/
}

.new-address-input {
    width: 100%;
    height: 70px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

.input-form {
    background-color: #f4f7f8;
    border-radius: 8px;
    box-sizing: border-box;
    float: left;
    font-family: "Existence";
    font-weight: bold;
    left: 30vw;
    max-width: 500px;
    margin: auto;
    padding: 10px 10px 0px 10px;
    position: relative;
}

.product-registration-form {
    background-color: #f4f7f8;
    border-radius: 8px;
    box-sizing: border-box;
    float: left;
    font-family: "Existence";
    font-weight: bold;
    width: 100%;
    margin: auto;
    padding: 10px 10px 0px 10px;
    position: relative;
}

.input-form form {
    border: none;
    font-size: 1.5vw;
}

.little-input-form h1,
.input-form h1 {
    font-size: 2vw;
    margin-bottom: 10px;
    text-align: center;
}

.product-registration-form input,
.little-input-form input,
.input-form input {
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #8a97a0;
    font-family: "Existence";
    font-weight: bold;
    font-size: 1.5vw;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 10px;
}

.product-registration-form input:focus,
.little-input-form input:focus,
.input-form input:focus {
    background: #d2d9dd;
}

.product-registration-form input[type="button"],
.product-registration-form input[type="submit"],
.little-input-form input[type="submit"],
.input-form input[type="submit"] {
    position: relative;
    display: block;
    padding: 1vw 2.5vw 1vw 2.5vw;
    color: #FFF;
    margin: 0 25% 0 5%;
    background: #00654F;
    font-size: 1.5vw;
    max-font-size: 20px;
    text-align: center;
    font-style: normal;
    width: 20vw;
    max-width: 180px;
    border: 1px solid #00654F;

}

.product-registration-form input[type="button"]:hover,
.product-registration-form input[type="submit"]:hover,
.little-input-form input[type="submit"]:hover,
.input-form input[type="submit"]:hover {
    background: #B2D142;
    border: 1px solid #B2D142;
    color: black;
}

.name {
    float: left;
    font-family: "Existence";
    font-size: auto;
    max-font-size: 3vw;
    min-font-size: 2vw;
    font-weight: bold;
    margin: 1vw;
}

.user-mod-message {
    float: left;
    font-family: "Existence";
    font-size: auto;
    font-weight: bold;
    height: 1.5vw;
    min-font-size: 1.5vw;
}

.orders-table-div {
    background-color: #f4f7f8;
    border-radius: 8px;
    box-sizing: border-box;
    float: left;
    font-family: "Existence";
    font-weight: bold;
    width: 100%;
    margin: auto;
    padding: 10px 10px 0px 10px;
    position: relative;
}

.orders-table-div h1 {
    font-size: 2vw;
}

.orders-table tr td {
    padding: 0.5vw 0.5vw;
    text-align: center;
    width: 10%;
    background: #e8eeef;
    border: none;
    border-radius: 4px;
}

.orderlist__table__th1 {
    background-color: grey;
    color: #B2D142;
    padding: 1vw 1vw;
}

.sum-of-order {
    color: black;
    background: #B2D142;
    outline: 1px solid #ccc;
}

.orderlist__table__th2 {
    color: grey;
    padding: 1vw 1vw;
}

.page-number a {
    color: black;
    text-decoration: none;
    font-family: "Existence";
    font-size: auto;
    max-font-size: 3vw;
    min-font-size: 2vw;
    position: relative;
}

.page-number {
    bottom: 25px;
    display: block;
    height: 30px;
    position: fixed;
    right: 1.5vw;
}

.page-number a.active {
    transition: background-color .3s;
}

.page-number a:hover:not(.active) {
    background-color: #ddd;
}

.picture {
    width: 100%;
    height: 30%;
}

.product-image {
    width: 60%;
    max-width: 100%;
    max-height: 100%;
}

.product-to-basket-message {
    box-sizing: border-box;
    float: center;
    font-family: "Existence";
    font-weight: bold;
    height: 30px;
    font-size: 15px;
}

.user-div,
.product-div {
    display: block;
    width: 100%;
    margin: auto;
    padding: 10px 10px;
}

.input-form-left {
    box-sizing: border-box;
    float: left;
    font-family: "Existence";
    font-size: auto;
    font-weight: bold;
    max-font-size: 3vw;
    min-font-size: 2vw;
    padding: 0 0 0 1vw;
    width: 55%;
}

.basket-input-form {
    box-sizing: border-box;
    float: left;
    font-family: "Existence";
    font-size: auto;
    font-weight: bold;
    max-font-size: 3vw;
    min-font-size: 2vw;
    padding: 0 0 0 1vw;
    width: 78%;
}


.input-form-right {
    width: 35%;
    padding: 0 1vw 0 0;
    margin-left: 60%;
}

.basket-input-buttons {
    width: 18%;
    padding: 0 0;
    margin-left: 80%;
}


.product-image-div {
    margin-left: 52%;
    width: 45%;
}


.product-info-div {
    box-sizing: border-box;
    float: left;
    font-family: "Existence";
    font-size: auto;
    font-weight: bold;
    max-font-size: 3vw;
    min-font-size: 2vw;
    padding: 0 0 0 10vw;
    width: 45%;
}

.little-input-form {
    background-color: #f4f7f8;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: "Existence";
    font-weight: bold;
    padding: 10px 10px 0px 10px;
}

.price {
    float: right;
    font-family: "Existence";
    font-size: auto;
    max-font-size: 3vw;
    min-font-size: 2vw;
    font-weight: bold;
    margin: 1vw;
}

.products {
    display: block;
    float: center;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
}

.product {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 2%;
    width: 32%;
    margin: 5px;
    height: 30%;
}

.categories-div {
    border-radius: 8px;
}

.product:hover {
    border: 1px solid #777;
    cursor: pointer;
}

#product_table {
    width: 100%;
}

textarea {
    width: 100%;
}


#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#sortable li {
    width: 50vh;
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
}

.top3 {
    position: relative;
    text-align: center;
    margin: auto;
    height: 40vv;
    width: 60%;

}

.slideshow {
    height: 80%;
    width: 50%;
    margin: auto;
}

.product2 {
    box-sizing: border-box;
    display: inline-block;
    padding: 1vv;
    width: 50%;
    margin: auto;
    margin-bottom: 50vv;
}

.ui-icon-arrowthick-2-n-s {
    position: absolute;
    margin-left: -1.3em;
}

.delete-category {
    position: relative;
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    bottom: 10px;
}

.update-category-name {
    position: relative;
    color: #aaaaaa;
    bottom: 7px;
    font-weight: bold;
    padding-right: 1vh;
}

.delete-category:hover,
.delete-category:focus,
.update-category-name:hover,
.update-category-name:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.category-header {
    font-family: "Existence";
}

.category-header:hover {
    cursor: pointer;
}

.login-message {
    left: 31%;
    width: auto;
    position: relative;
    margin-top: 25vw;
    color: red;
    font-family: "Existence";
    src: url("/fonts/Existence-Light.ttf") font-weight: bold;
}

.login-message h1 {
    font-size: 1.5vw;
    max-font-size: 20px;
    line-height: 46px;
    margin-bottom: 40px;
}

h1 {
    font-family: "Existence";
}

.under-edit {
    background-color: rgba(218, 210, 207, 0.774) !important;
}

.rate {
    float: left;
    height: 46px;
    padding: 12px 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    left: -99999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.single-review-div {
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 1vw;
    width: 100%;
    margin: 0 -1vw;
}